<!--from group/new group-->
<!--from group/edit group-->

<%= form_with model:group, local:true do |f| %>
  <div class="form-group">
    <%= f.label :グループ名 %>
    <%= f.text_field :name, class: "form-control name" %>
  </div>
  <div class="form-group">
    <%= f.label :紹介文 %>
    <%= f.text_area :introduction, class: "form-control introduction" %>
  </div>
  <div class="form-group">
    <%= f.label :profile_image %>
    <%= f.attachment_field :image, class: "form-control-file user_image" %>
  </div>
  <div class="form-group">
    <%= f.submit "Create Group", class: 'btn btn-primary' %>
  </div>
<% end %>